.logo {
    position fixed
    top 0
    left 50%
    right 0
    padding 30px
    margin-left -133px

    &__wrapper {
        display inline-block
    }

    &__image {
        width 206px
        height 117px
    }

    &_size_small {
        margin-left -111.5px

        .logo__image {
            width 103px
            height 58px
        }
    }
}