.pricelist
    width 100%
    margin-bottom 20px

    &__header
        text-align left
        border-top 1px solid color-light-grey
        font-weight 400

    th
        padding 10px

    td
        border-bottom 1px dotted color-light-grey
        padding 10px

    tr:hover td
        background-color color-smoke
